.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;

  > p {
    color: #B9B9B9;
    font-size: 3em;
    line-height: 1em;
  }
}